body {
    text-align: center;
    background-color: coral;
}

div {
    margin-top: 40px;
}

.image-section {
    display: flex;
    justify-content: center;
}
.section-style{
    margin-right: 25px;
    margin-left: 25px;
    background-color: white;
}
img{
    width: 400px;
    height: 300px;
}